<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>留言板首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        #header {
            text-align:center;
            padding:5px;
        }
        #nav {
            line-height:40px;
            background-color:#eeeeee;
            height:530px;
            width:100px;
            float:left;
            padding:5px;
        }
        #section {
            width:950px;
            float:left;
            padding:10px;
        }

    </style>
</head>
<div id="header">
    <include file="./Application/Home/View/common/top.html" />
</div>

<div id="nav">
    <include file="./Application/Home/View/common/left.html" />
</div>

<div id="section">
    <include file="./Application/Home/View/common/right.html" />
</div>

</html>